[Unit]
Description=ReSpeaker Array service
StopWhenUnneeded=true

[Service]
Type=simple
User=kide
Group=kide
Restart=always
RestartSec=10
ExecStart=/bin/sh -c ". /opt/ros/foxy/setup.sh; . /media/veracrypt1/source/respeaker_array/install/setup.sh; ros2 launch respeaker_node respeaker_array.launch.py"

[Install]
WantedBy=multi-user.target
