[Unit]
Description=ReSpeaker mic service
StopWhenUnneeded=true
Before=respeaker_storage.service

[Service]
Type=simple
User=sad
Group=sad
Restart=always
RestartSec=5
ExecStart=/bin/sh -c ". /opt/ros/foxy/setup_fog.sh; . /home/sad/respeaker_array/install/setup.sh; ros2 run respeaker_node mic_array"

[Install]
WantedBy=multi-user.target
RequiredBy=respeaker_storage.service
